@using GameStoreData.Identity.Data;
@using GameStoreData.Service;
@using Microsoft.AspNetCore.Identity;

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IGameService GameService

@model GameStoreData.Models.Game

@{
    ViewData["Title"] = "GetGame";
}

<h1>@Model.Name</h1>
<hr />

<div>
    <dl class="row">
        <dd class="col-sm-3">
            <img src="@Model.Image" alt="image" height="100" width="100">
        </dd>

        <dd class="col-sm-3" style="text-align:center">
            <br /><br /><br />
            <h3 style="font-size:30px;">@(String.Join("/", Model.Genres.Select(g => g.Name)))</h3>
            <h3 style="font-size:30px;"> $@Html.DisplayFor(model => model.Price)</h3>
            <br /><br />
            <div>
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (!UserManager.GetRolesAsync(UserManager
                    .GetUserAsync(User).Result).Result.Contains("User"))
                    {
                        <a asp-action="Edit" asp-route-id="@Model?.Id" class="button">Update</a>
                    }
                    <a asp-controller="CartItem" asp-action="AddGameToCart" asp-route-id="@Model?.Id" class="buygame">Add to Cart</a>
                }
                else
                {
                    <a asp-controller="CartItem" asp-action="BuyGames" asp-route-id="@Model?.Id" class="buygame">Buy</a>
                }
                <a asp-action="Index" asp-controller="Game" class="button">Go Back</a>
            </div>
        </dd>
    </dl>
</div>

@{
    <partial name="_CommentsPartial" model="@Model?.CommentVM" />
}